html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}

h1.text-center {
  color: #25f662;
}

h3.text-center {
  color: red;
}

h4.text-center {
  color: #fff;
}

.logo {
  width: 50px;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row,
.col-md-6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

div.premium-customer-blocker {
  margin: 0px;
  width: 600px;
  height: 400px;
  position: relative;
  top: -70px;
  background-color: #fff;
  background-image: url("family.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000;
  text-align: center;
}

div.shellmates {
  margin: 0px;
  height: 70px;
  width: 500px;
  margin-bottom: 6px;
  background-image: url("shellmates.png");
  background-size: cover;
  background-repeat: no-repeat;
}
